{% extends "base.html" %}

{% block title %}Mesaure{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Measure</h1>
    <a href="{{ url_for('measure.add') }}" class="btn btn-success mb-3">Add Measure</a>

    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th>Measure Name</th>
                            <th>Symbol</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for measure in measures %}
                        <tr>
                            <td>{{ measure.measure_name }}</td>
                            <td>{{ measure.symbol }}</td>
                            <td>
                                <a href="{{ url_for('measure.edit', measure_id=measure.id) }}" class="btn btn-warning btn-sm">Edit</a>
                                <a href="{{ url_for('measure.delete', measure_id=measure.id) }}" class="btn btn-danger btn-sm" onclick="return confirmDelete();">Delete</a>
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="3">No record found.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}