{% extends "base.html" %}

{% block title %}Withholding Taxes{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Withholding Taxes</h1>
    <a href="{{ url_for('w_tax.add') }}" class="btn btn-success mb-3">Add Withholding Tax</a>

    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th>ATC</th>
                            <th>Description</th>
                            <th>Tax Rate</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for w_tax in w_taxes %}
                        <tr>
                            <td>{{ w_tax.w_tax_code }}</td>
                            <td>{{ w_tax.w_tax_name }}</td>
                            <td>{{ w_tax.w_tax_rate }}</td>
                            <td>
                                <a href="{{ url_for('w_tax.edit', w_tax_id=w_tax.id) }}" class="btn btn-warning btn-sm">Edit</a>
                                <a href="{{ url_for('w_tax.delete', w_tax_id=w_tax.id) }}" class="btn btn-danger btn-sm" onclick="return confirmDelete();">Delete</a>
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="4">No record found.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}