{% extends "base.html" %}

{% block title %}Account Category{% endblock %}

{% block content %}
<div class="container p-5">
    {% if form.id %}
    <h1 class="mb-4">Edit Account Category</h1>
    <form action="{{ url_for('account_category.edit', account_category_id=form.id) }}" method="post">
        <input type="number" name="account_category_id" value="{{ form.id }}" hidden>
        {% else %}
    <h1 class="mb-4">Add Account Category</h1>
    <form action="{{ url_for('account_category.add') }}" method="post">
        {% endif %}
    
        <div class="row mb-3">
            <label for="category_name" class="col-sm-2 col-form-label">Category Name</label>
            <div class="col-sm-10">
                <input type="text" name="category_name" value="{{ form.category_name }}" class="form-control" autofocus>
                {% if form.errors.get('category_name') %}
                <p style="color: red;">{{ form.errors.get('category_name') }}</p>
                {% endif %}
            </div>
        </div>
        <div class="row mb-3">
            <label for="priority" class="col-sm-2 col-form-label">Order</label>
            <div class="col-sm-10">
                <input type="text" name="priority" value="{{ form.priority }}" class="form-control">
                {% if form.errors.get('priority') %}
                <p style="color: red;">{{ form.errors.get('priority') }}</p>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 offset-sm-2">
                <input type="submit" value="Save" class="btn btn-primary">
            </div>
        </div>
    </form>
</div>
{% endblock %}