{% extends "base.html" %}

{% block title %}Payables{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-danger">Payables</h1>
    <a href="{{ url_for('payable.add') }}" class="btn btn-success mb-3">Add Payable</a>

    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th>Date</th>
                            <th>AP No.</th>
                            <th>Vendor</th>
                            <th>RR No.</th>
                            <th>PO No.</th>
                            <th>Amount Due</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for payable in payables %}
                        <tr>
                            <td>{{ payable.record_date }}</td>
                            <td>{{ payable.ap_number }}</td>
                            <td>{{ payable.vendor.vendor_name }}</td>
                            <td>{{ payable.receiving_number }}</td>
                            <td>{{ payable.po_number }}</td>
                            <td>{{ payable.formatted_amount_due() }}</td>
                            <td>
                                <a href="{{ url_for('payable.edit', payable_id=payable.id) }}"
                                    class="btn btn-warning btn-sm">Edit</a>
                                <a href="{{ url_for('payable.delete', payable_id=payable.id) }}"
                                    class="btn btn-danger btn-sm" onclick="return confirmDelete();">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                        {% if payables|length == 0 %}
                        <tr>
                            <td colspan="7" class="text-center">No records found.</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}